@import "constants";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    background-color: $color-bg;
    color: $color-main;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

header, footer {
    padding: 20px 0;
}

header {
    border-bottom: 1px solid $color-border;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 2rem;
        font-weight: 800;
    }

    .nav-bar {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 30px;
        }
        
        li {
            list-style-type: none;
            cursor: pointer;
            transition: all 0.2s;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -4px;
                width: 0;
                height: 2px;
                background: $color-blue1;
                transition: width 0.2s ease, left 0.2s ease;
                transform: translateX(-50%);
            }

            &:hover {
                font-weight: 600;
                color: $color-blue1;

                &::after {
                    width: 100%;
                    left: 50%;         
                }
            }
        }
    }
}

#homepage header .home-nav-btn, #about-page header .about-nav-btn, #contact-page header .contact-nav-btn {
    font-weight: 600;
}