@import "constants";

.main {
    padding: 10px 0;

    .main-content {
        display: flex;
    }

    .left-panel {
        width: 20%;
        padding-right: 15px;

        .dashboard-info {
            display: none;

            &.active {
                display: block;
            }

            h1 {
                font-weight: 900;
                font-size: 3rem;
                margin-bottom: 20px;
                letter-spacing: 4px;
            }

            p {
                text-align: justify;
                line-height: 1.8rem;
            }
        }
    }

    .right-panel {
        width: 80%;
        padding-left: 15px;
    }

    .stories-switch {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

        .story-btn {
            padding: 5px 80px;
            font-size: 1.05rem;
            font-weight: 600;
            border: 1px solid $color-main;
            cursor: pointer;
            background: none;
            
            &.active {
                background-color: $color-main;
                color: $color-bg;
            }

            &:not(.active):hover {
                background-color: $color-blue1;
                color: $color-bg;
                border-color: $color-blue1;
            }
        }

        .story-btn:first-of-type {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

        .story-btn:last-of-type {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }

    .stat-cards {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(12, 1fr);
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        .card {
            grid-column: span 4;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-bg2;
            border: 1px solid $color-bg2;
            border-radius: 12px;

            .stats {
                cursor: default;
                p:first-of-type {
                    color: $color-grey;
                    font-style: italic;
                    font-size: 0.8rem;
                }

                p:last-of-type {
                    font-size: 2rem;
                    font-weight: 800;
                }
            }
            
            .card-icon {
                padding: 10px;
                background-color: $color-blue1;
                border: 1px solid $color-blue1;
                border-radius: 8px;

                i {
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
    }

    .story-page {
        display: none;

        &.active {
            display: block;
        }
    }

    .visualizations {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(12, 1fr);

        .viz-summary {
            width: 100%;
            h1 {
                text-align: center;
            }
        }

        .viz-content {
            background-color: $color-bg2;
            border: 1px solid $color-bg2;
            border-radius: 8px;
            padding: 15px;
            display: flex;
            flex-direction: column;

            .viz-title {
                margin-bottom: 20px;
                font-size: 1.1rem;
            }

            .viz-container {
                flex: 1;
                min-height: 0;
                width: 100%;
                height: 100%;
                margin: 0 auto;
            }

            &.graph-1 {
                grid-column: span 12;
                height: 600px;
            }

            &.graph-2 {
                grid-column: span 7;
                height: 450px;
            }

            &.graph-3 {
                grid-column: span 5;
                height: 450px;
            }

            &.graph-4 {
                grid-column: span 6;
                // grid-row: span 2;
                height: 500;
            }

            &.graph-5 {
                grid-column: span 6;
                height: 500px;
            }

            // &.filler-1 {
            //     grid-column: span 7;
            //     height: 200px;
            // }

            &.graph-6 {
                grid-column: span 7;
                height: 450px;
            }

            &.graph-7 {
                grid-column: span 5;
                height: 450px;
            }

            &.graph-8 {
                grid-column: span 12;
                height: 400px;
                
                .viz-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            &.graph-9 {
                grid-column: span 6;
                height: 400px;
            }
        }
    }
}

.tooltip {
    position: absolute;
    padding: 6px 10px;
    background: white;
    pointer-events: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: $color-main;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    opacity: 0;
    transition: opacity 0.1s ease;

    &.tooltip-graph-1,
    &.tooltip-graph-3,
    &.tooltip-graph-4,
    &.tooltip-graph-5,
    &.tooltip-graph-6,
    &.tooltip-graph-7,
    &.tooltip-graph-8,
    &.tooltip-graph-9  {
        line-height: 1.4rem;
    }

    &.tooltip-graph-2 {
        line-height: 2rem;
    }
}

.viz-controls {
    margin-bottom: 30px;
}

.viz-controls {
    select {
        margin-left: 10px;
        padding: 3px 10px;
        font-size: 14px;
        border: 1px solid $color-main;
        border-radius: 4px;
        background: none;
    }
}