@import "constants";

.main {
    padding: 10px 0;

    .main-content {
        display: flex;
    }

    .left-panel {
        width: 20%;
        padding-right: 15px;

        .dashboard-info {
            h1 {
                font-weight: 900;
                font-size: 3rem;
                margin-bottom: 20px;
                letter-spacing: 4px;
            }

            p {
                text-align: justify;
                line-height: 1.8rem;
            }
        }
    }

    .right-panel {
        width: 80%;
        padding-left: 15px;
    }

    .stories-switch {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

        .story-btn {
            padding: 5px 80px;
            font-size: 1.05rem;
            font-weight: 600;
            border: 1px solid $color-main;
            cursor: pointer;
            background: none;
            
            &.active {
                background-color: $color-main;
                color: $color-bg;
            }

            &:not(.active):hover {
                background-color: $color-blue1;
                color: $color-bg;
                border-color: $color-blue1;
            }
        }

        .story-btn:first-of-type {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

        .story-btn:last-of-type {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }

    .stat-cards {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(12, 1fr);
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        .card {
            grid-column: span 4;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-bg2;
            border: 1px solid $color-bg2;
            border-radius: 12px;

            .stats {
                cursor: default;
                p:first-of-type {
                    color: $color-grey;
                    font-style: italic;
                    font-size: 0.8rem;
                }

                p:last-of-type {
                    font-size: 2rem;
                    font-weight: 800;
                }
            }
            
            .card-icon {
                padding: 10px;
                background-color: $color-blue1;
                border: 1px solid $color-blue1;
                border-radius: 8px;

                i {
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
    }

    .visualizations {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(12, 1fr);

        .viz-content {
            background-color: $color-bg2;
            border: 1px solid $color-bg2;
            border-radius: 8px;
            padding: 15px;
            display: flex;
            flex-direction: column;

            .viz-title {
                margin-bottom: 20px;
                font-size: 1.2rem;
            }

            .viz-container {
                flex: 1;
                min-height: 0;
                width: 100%;
                height: 100%;
                margin: 0 auto;
            }

            &.graph-1 {
                grid-column: span 12;
                height: 600px;
            }

            &.graph-2 {
                grid-column: span 12;
                height: 600px;
            }

            &.graph-3 {
                grid-column: span 12;
                height: 400px;
            }

            &.graph-4 {
                grid-column: span 12;
                height: 400px;
            }

            &.graph-5 {
                grid-column: span 6;
                height: 400px;
            }

            &.graph-6 {
                grid-column: span 6;
                height: 400px;
            }
        }
    }
}

.tooltip {
    &.graph-1 {
        line-height: 1.4rem;
    }

    &.graph-2 {
        line-height: 2rem;
    }
}